* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background: #76b852; /* fallback for old browsers */
    background: rgb(141,194,111);
    background: linear-gradient(90deg, rgba(141,194,111,1) 0%, rgba(118,184,82,1) 50%);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;      
  }
  
  .container {
    margin: auto;
    width: 95%;
    margin-top:10%
}
  
button, .login{
    position: absolute;
      top:0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;}

  button{
    background-color: #76b852;
    width: 100px;
    height: 30px;
    border: 0;
    color: black;
}
  
